data filter=lfs diff=lfs merge=lfs -text
data/grid_25km.shp.xml filter=lfs diff=lfs merge=lfs -text
data/grid_25km.ids filter=lfs diff=lfs merge=lfs -text
data/grid_25km.sbn filter=lfs diff=lfs merge=lfs -text
data/grid_25km.shp filter=lfs diff=lfs merge=lfs -text
data/grid_25km.prj filter=lfs diff=lfs merge=lfs -text
data/grid_25km.sbx filter=lfs diff=lfs merge=lfs -text
data/grid_25km.shx filter=lfs diff=lfs merge=lfs -text
data/my_grid_map.html filter=lfs diff=lfs merge=lfs -text
data/agri4cast.csv filter=lfs diff=lfs merge=lfs -text
data/grid_25km.dbf filter=lfs diff=lfs merge=lfs -text
data/grid_25km.html filter=lfs diff=lfs merge=lfs -text
data/test.csv filter=lfs diff=lfs merge=lfs -text
